/* Reset and Basic Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #d5d1cc;
  background-color: #1d2021;
  overflow: auto;
  position: relative;
}

section {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

svg {
  width: 100%;
  height: 100%;
}

a {
  color: #52b1ff !important;
  text-decoration: none !important;
  /* display: none; */
  transition: color 0.3s ease, text-decoration 0.3s ease;
  font-weight: 500;
}

a:hover,
a:focus {
  color: #63b3ed !important;
  text-decoration: underline !important;
  outline: none !important;
}

a:active {
  color: #4a90e2 !important;
}

a:visited {
  color: #5a9bd5 !important;
}

h2,
h3 {
  color: #ff8f4d !important;
  margin-top: 20px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  color: #d0d0d0;
  text-decoration: none !important;
}

footer p {
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: #cccccc;
}

h1 {
  font-size: 4em;
  color: #b0b0b0;
  animation: fadeIn 2s ease-in-out;
}

.services h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #d0d0d0;
}

.services ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.service-item {
  background-color: #2a2a2a;
  /* Dark service item */
  color: #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  flex: 1 1 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
}

.service-item h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #ffffff;
}

.service-item p {
  color: #b0b0b0;
}

.typeform-button {
  border: 1px solid rgb(130, 121, 107);
  background-image: initial;
  background-color: initial;
  color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.typeform-button:hover {
  background-color: #777777;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.typeform-button:active {
  background-color: #999999;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.photo-placeholder {
  width: 150px;
  height: 150px;
  background-color: #333333;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
  border: 2px solid #555555;
}

.tf-v1-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
}

.tf-v1-popup iframe {
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 11;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  .service-item h3 {
    font-size: 1.3em;
  }

  .service-item p {
    font-size: 0.9em;
  }
}

@media (max-width: 600px) {
  .service-item {
    flex-direction: column;
    align-items: center;
  }

  .service-item h3,
  .service-item p {
    text-align: center;
  }
}
